@import "../../../../assets/scss/commons.scss";

.all {
  overflow: hidden;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid gray;
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 3;
  background-color: #34495e;
  color: #fff;

  @include small() {
    height: 20vh;
  }

  .user {
    @include mobile() {
      font-size: 13px;
    }
  }

  .left {
    .logo {
      font-size: 22px;
      font-weight: 600;
      color: $orange;
      cursor: pointer;
      position: relative;

      &:hover::after {
        right: -25px;
      }

      &:hover::before {
        left: -25px;
      }

      &::after {
        content: "]";
        transition: all 0.3s ease;
        position: absolute;
        right: -15px;
        top: -2px;
      }

      &::before {
        content: "[";
        transition: all 0.3s ease;
        position: absolute;
        left: -15px;
        top: -2px;
      }
    }

    .bars {
      display: block;
      margin-left: 150px;
      transition: all 0.5s ease;
      cursor: pointer;

      @include mobile() {
        margin-left: 35px;
        color: #fff;
        font-size: 20px;
      }

      &:hover {
        background-color: $orange;
        padding: 5px 10px;
        border-radius: 50%;
        color: #ffffff;

        @include tablet() {
          background-color: transparent;
          padding: 0px;
          color: #ffffff;
        }
      }
    }
  }
}
