<div class="all">
    <div class="nav">
        <div class="left d-flex">
            <div class="logo">
                Degibox
            </div>
            <div class="bars" (click)="toggleMenu()">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div class="right">
            <div class="user">
                Email
                <div class="btn btn-log ml-4" (click)="logout()">
                    Logout
                </div>
            </div>
        </div>
    </div>
</div>