@import "../../../assets/scss/commons.scss";

.all {
    width: 100%;
    height: 100vh;
    // background: #37474F;
    background-image: url(../../../assets/image/company-bckgrnd-img.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;

    .box {
        width: 50%;
        padding: 40px;
        text-align: center;
        border: 1px solid $light_green;
        background-color: #ffffffeb;
        @include small() {
            width: 100%;
        }
        @include large() {
            width: 70%;
        }
      
        input[type="text"],
        input[type="password"] {
          border: 0;
          background: none;
          display: block;
          margin: 20px auto;
          text-align: center;
          border: 2px solid $blue;
          padding: 14px 10px;
          width: 70%;
          outline: none;
          color: #333;
          border-radius: 24px;
          transition: 0.25s;
      
          &:focus {
            width: 100%;
            border-color: $light_green;
          }
        }
        .login {
          border: 0;
          background: none;
          display: block;
          margin: 20px auto;
          text-align: center;
          border: 2px solid $light_green;
          padding: 14px 40px;
          outline: none;
          color: #333;
          border-radius: 24px;
          transition: 0.25s;
          cursor: pointer;
      
          &:hover {
            background: $light_green;
            color: #fff;
          }
        }
      }
      
}