<div class="all">
    <form class="box" [formGroup]="formLogin">

        <input type="text" placeholder="Username" formControlName="userName">
        <p class="form_err" *ngIf="formErr.userName && formLogin.controls.userName.touched">{{ formErr.userName }}</p>
        <input type="password" placeholder="Password" formControlName="password">
        <p class="form_err" *ngIf="formErr.password && formLogin.controls.password.touched">{{ formErr.password }}</p>
        <button class="login" [disabled]="formLogin.invalid" (click)=login()>
            Login
        </button>
    </form>
</div>